In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:/DATA SETS/audible_uncleaned.csv")

In [3]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

Cleaning unnessery data

In [4]:
df["author"] = df["author"].str.strip().str.split(":").str[1]

In [5]:
df["narrator"] = df["narrator"].str.strip().str.split(":").str[1]

In [6]:

df["stars"] = df["stars"].str.strip().str.split(" ").str[0]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [8]:
# chaging releasedate datatype from string to date
df["releasedate"] = pd.to_datetime(df["releasedate"])

C:\Users\Talha Bin Zubair\AppData\Local\Temp\ipykernel_12648\2545050745.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["releasedate"] = pd.to_datetime(df["releasedate"])

In [9]:
#changing values to peform function
df["stars"] = df["stars"].replace("Not rated yet","0")

In [11]:
df["stars"] = df["stars"].replace("Not","0")

In [12]:
#changing data type
df["stars"] = df["stars"].astype(float)

In [14]:
#for handling values such as 1,000
df['price'] = df['price'].str.replace(',', '')

In [15]:
# some books are free of cost
df['price'] = df['price'].str.replace('Free', '0')

In [16]:
#converting string in float
df['price'] = df['price'].astype(float)

In [17]:
# price is not directly converting in int
df['price'] = df['price'].astype(int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  float64
 7   price        87489 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 5.3+ MB

In [19]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5.0,468
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5,820
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5,410
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5,615
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5,820